<div class="col-md-2 sidebar">

  <ul class="nav nav-sidebar">
    <% @genres.each do |genre| %>
      <% genre_id = "genre_#{genre.id}".to_sym %>
      <li>
        <%= link_to genre.title, search_books_path(genre.id), 
                    class: "btn btn-info #{yield(genre_id)}" %>
      </li>
    <% end %>
  </ul>

</div>
