<% provide(:title, "Create new book") %>
<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-12">
    <h2>Create new book</h2>

    <%= render partial: 'form', locals: { title_sumbit: 'Create book' } %>

    </div>
  </div>
</div>